@charset "UTF-8";
/* PCìš© CSS */
@media all and (min-width: 1024px) {
  #wrap main .mainLeft #section1 .container > .content {
    display: flex;
  }
  #wrap main .mainLeft #section1 .container > .content .profileImg {
    width: 50%;
    padding: 0 15px 0 15px;
    text-align: left;
  }
  #wrap main .mainLeft #section1 .container > .content .profileImg img {
    width: 100%;
    min-width: 321px;
    height: auto;
  }
  #wrap main .mainLeft #section1 .container ul {
    padding: 0 0 0 15px;
  }
  #wrap main .mainLeft #section2 .container .content {
    width: 100%;
    display: flex;
  }
  #wrap main .mainLeft #section2 .container .content > ul {
    width: 50%;
  }
  #wrap main .mainLeft #section2 .container hr {
    display: block;
  }
  #wrap main .mainLeft #section4 .container .content .portfolio {
    width: 33.3333%;
  }
  #wrap main .mainLeft #section5 .container .content .skill {
    width: 33.333%;
  }
  #wrap footer {
    height: 200px;
  }
  #wrap footer div {
    width: 50%;
  }
  #wrap footer div:first-of-type {
    border-bottom: 0px;
    border-right: 1px solid white;
  }
}