/* PC용 CSS */
@media all and (min-width: 1024px) {
	#wrap {
		#mainPage {
		}
		main {
			.mainLeft {
				#section1 {
					.container {
						> .content {
							display: flex;
							.profileImg {
								width: 50%;
								padding: 0 15px 0 15px;
								text-align: left;
								img {
									width: 100%;
									min-width: 321px;
									height: auto;
								}
							}
						}
						ul {
							padding: 0 0 0 15px;
						}
					}
				}
				#section2 {
					.container {
						.content {
							width: 100%;
							display: flex;
							> ul {
								width: 50%;
								> li {
								}
							}
						}
						hr {
							display: block;
						}
					}
				}
				#section4 {
					.container {
						.ps {
						}
						.content {
							.portfolio {
								width: 33.3333%;
							}
						}
					}
				}
				#section5 {
					.container {
						.content {
							.skill {
								h4 {
									margin-bottom: 25px;
								}
								.skill-level {
									> div {
										padding-bottom: 5px;
										> p {
											display: inline-block;
											width: 40%;
										}
										.progress {
											width: calc(60% - 20px);
											display: inline-flex;
										}
									}
								}
							}
						}
					}
				}
			}
			aside {
				#quickMenu {
					.mobile {
					}
					.pc {
					}
				}
			}
		}
		// 포트폴리오 팝업
		#portfolioPopup {
			.popup-back {
			}
			.popup-wrap {
			}
		}
		footer {
			height: 200px;
			div {
				width: 50%;
				&:first-of-type {
					border-bottom: 0px;
					border-right: 1px solid white;
				}
			}
		}
	}
}
